.vs/
*.user
*.suo
*.sdf
*.opensdf
*.opendb
*.dbmdl
*.VC.db
*.VC.VC.opendb

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json
*.cmake
!CMakeLists.txt
!*.cmake.in
!CMakePresets.json

out/
build/
bin/
lib/
Debug/
Release/
x64/
x86/
Win32/
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.obj
*.map

*.user
*.userosscache
*.sln.docstates

TestResults/
*.coverage
*.trx

*.log
